.contact__content {
  width: 98%;
  margin: 0 auto;
  height: 500px;
  position: relative;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  padding: 20px;
}

.contact__content--text {
  width: 50%;
  height: 400px;
  padding-right: 30px;
}

.contact__content--text p {
  text-align: justify;
}

.contact__content--photo {
  width: 40%;
  height: auto;
}

.contact__content--photo img {
  width: 80%;
  height: 80%;
}

h2 {
  margin-bottom: 10px;
}
